___

![Bluemetrica](../bluemetrica_large.png)
___

# Time Series - szeregi czasowe w Pandas

## Import bibliotek

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

## Wczytujemy dane

Monthly retail sales data from Eurostat. Data start 1984M01 data end 2018M08

In [3]:
plik = 'retail_sale.csv'

In [13]:
# df = pd.read_csv("../data/" + plik, index_col='time')
df = pd.read_csv("../data/" + plik)

In [14]:
df.head()

    indic s_adj unit geo        time  values
0  BS-RAS   NSA  BAL  AT  2018-08-01    22.5
1  BS-RAS   NSA  BAL  BE  2018-08-01    15.0
2  BS-RAS   NSA  BAL  BG  2018-08-01     1.7
3  BS-RAS   NSA  BAL  CY  2018-08-01     2.0
4  BS-RAS   NSA  BAL  CZ  2018-08-01     6.0

## Datetime - data i czas

### Grupowanie po czasie

DostÄ™pne grupowanie

- year
- quater
- month
- dayofweek
- weekofyear
- day