![Bluemetrica](../bluemetrica_large.png)

# Pandas

In [2]:
import numpy as np    # algebra liniowa
import pandas as pd   # przetwarzanie danych

## Series

Podstawowy obiekt danych w Pandas. Series to wektor danych jednego typu, do którego dołączony jest index (nazwa lub numer obserwacji). Wiele serii (Series) razem tworzą DataFrame.

Series to obiekt podobny to np.array(), ale dodatkowo pozwalający nam na przechowywanie informacji o nazwie indeksu. Możemy sie do obiektu series odwoływac zarówno za pomocą indeksu liczbowego jak ma to miejsce w przypadku np.array() oraz nazw etykiet jak np. w słownikach (dictionary).

**Tworzymy series**
Series możemy stworzyć przekształcając array, listę, krotkę lub słownik

In [3]:
x = np.random.randint(1, 100, size = 10)
ser = pd.Series(x)

In [5]:
ser

0    30
1    23
2    85
3    17
4    63
5    11
6    92
7    65
8    88
9    95
dtype: int32

In [6]:
type(ser)

pandas.core.series.Series

## DataFrames

Kilka kolumn (Series) złożone w jedną wg. wspólnego indeksu tworzą DataFrame. Każda kolumna może zawierać dane innego typu, ale w ramach kolumny dane mogą mieć tylko jeden typ. 

Ramki danych to najbardziej popularna struktura do pracy z danymi.

### DataFrames

Ramka danych to serii o wspólnym indeksie.

In [2]:
df = pd.DataFrame({'imie':["Janusz", "Grażyna", "Bozydar"], 'wiek':[50,45,18], 'zwierze':["kot", "kot", "pies"]})

In [3]:
df

      imie  wiek zwierze
0   Janusz    50     kot
1  Grażyna    45     kot
2  Bozydar    18    pies

In [4]:
type(df)

pandas.core.frame.DataFrame